NODE_OPTIONS=--no-deprecation
SILICONFLOW_API_KEY=sk-****
ARK_API_KEY=3efeeca0-b0d4-4e81-87b8-****
LLM_CONFIG_PATH=/Users/li/projects/qt/ai-signals/analysis_service/config/llm_providers.yaml

DB_HOST=*****
DB_PORT=3306
DB_USER=trader
DB_PASSWORD=YourStrongUserPassword!trader
DB_NAME=crypto_market_db
